<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="profile-container col-9 mt-3 pb-5">

      <h3>New Photo</h3>
      <hr noshade>

      <%= render 'form', post: @post %>

    </div>
  </div>
</div>

<%# <%= link_to 'Back', posts_path %>
