.user-info {
	position: relative;
}

.user-avatar img{
	width: 150px;
	height: 150px;
}

.edit-profile{
	cursor: pointer;
	border: 2px solid #4267B2;
	color: #4267B2;
	font-weight: bold;
	display: block;
	width: 100px;
}

.tab-list{
	display: flex;
	list-style: none;
	padding: 0px;
}

.tab-list li{
	padding: 0px 5px;
}

.tab {
	color: grey;
	cursor: pointer;
	font-weight: bold;
}

.tab.active{
	color: #4267B2;
}